body {
  background: #023436;
  text-align: center;
  padding-top: 15px;
}

h3 {
  font-size: 40px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  border: 1px solid white;
  padding: 5px;
  width: 350px;
  height: 25px;
  font-size: 25px;
}

ul {
  width: 300px;
  margin: 0 auto;
  text-align: left;
  margin-top: 25px;
  padding-left: 50px;
  padding-top: 25px;
  background: #40BCD8;
  font-size: 20px;
}
ul li {
 font-size: 20px; 
}